<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>to do update</title>
    <script src="./vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="inputcontent"/>
    <button @click="commit1">提交</button>
    <ul>
        <div>

            <todo-list v-for="(item,index) in list" v-bind:content="item"   @delete="itemdelete(index)"></todo-list>


        </div>
         </ul>
</div>
</body>


<script>
    // //全局的组件
    // Vue.component("TodoList",{
    //     props:['content'],
    //     template:"<li>{{content}}</li>",
    // });


    //子组件给父组件传值

    //局部组件的注册
    var TodoList={
        props: ["content"],
        template: "<li  @click='itemClick(content)'>{{content}}</li>",
        methods: {
            itemClick:function (content) {
             this.$emit("delete")
            },
        }

    };


    const vue = new Vue({
        el: "#app",
        components:{
          TodoList:TodoList,


        },
        data: {
            content: "hello",
            list: [],
            inputcontent: "",

        },
        methods: {
            commit1: function () {
                this.list.push(this.inputcontent);
                this.inputcontent = ""
            },
            itemdelete:function (index) {
                alert("index:"+index);
                this.list.splice(index,1)
            }
        }


    });


</script>
</html>
